- content_for :active, 'sign_in'

%h2 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal', role: 'form'}) do |f|
  .retrospective-form__form-inline
    %label.retrospective-form__label Email
    = f.email_field :email, class: 'retrospective-form__input', autofocus: true, placeholder: 'Email'

  .retrospective-form__form-inline
    %label.retrospective-form__label Password
    = f.password_field :password, class: 'retrospective-form__input', placeholder: 'Password'

  - if devise_mapping.rememberable?
    = f.check_box :remember_me
    Remember me

  .retrospective-form__form-inline
    = f.submit 'Sign in', class: 'retrospective-form__button'

= render "users/shared/links"
