%h2 Forgot your password?

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal', role: 'form'}) do |f|
  = devise_error_messages!

  .retrospective-form__form-inline
    %label.retrospective-form__label Email
    = f.email_field :email, class: 'retrospective-form__input', autofocus: true, placeholder: 'Email'

  .retrospective-form__form-inline
    = f.submit 'Send', class: 'retrospective-form__button'

= render "users/shared/links"
