%ul
- if user_signed_in?
  %li{class: yield(:active) == 'retrospectives' ? 'active' : ''}= link_to 'Retrospective', retrospectives_path
  %li= link_to t('sign_out'), destroy_user_session_path, method: :delete
- else
  %li{class: yield(:active) == 'sign_up' ? 'active' : ''}= link_to 'Sign Up', new_registration_path(:user)
  %li{class: yield(:active) == 'sign_in' ? 'active' : ''}= link_to 'Sign In', new_user_session_path
- if user_signed_in?
  %li= current_user.name
  %li= link_to 'Edit Account', edit_user_registration_path

