= "# #{@retrospective.title}"
\
- Label.kinds.keys.each do |kind|
  = "* #{kind}"
  - @retrospective.labels.where(kind: kind).each do |label|
    = "#{label.created_at.strftime('%m-%d')} #{label.user.name} #{label.description}"
  \
