= "# #{@retrospective.title}"
\
- Label.typs.keys.each do |typ|
  = "* #{typ}"
  - @retrospective.labels.where(typ: typ).each do |label|
    = "#{label.created_at.strftime('%m-%d')} #{label.user.name} #{label.description}"
  \
