= "# #{@retrospective.title}"
\
- Label::TYPE.values.each do |typ|
  = "* #{typ}"
  - @retrospective.labels.label_typ(typ).each do |label|
    = "#{label.created_at.strftime('%m-%d')} #{label.user.name} #{label.description}"
  \
