= content_for :active, 'retrospectives'

=link_to new_retrospective_path, class: 'retrospective-list__button' do
  .fa.fa-plus

%ul.retrospective-list__items<
  - @retrospectives.each do |retrospective|
    %li.retrospective-list__item<
      = link_to retrospective.title, retrospective_path(retrospective), class: 'retrospective-list__item-title'
      = link_to edit_retrospective_path(retrospective), class: 'retrospective-list__item-button' do
        .fa.fa-edit
      = link_to export_retrospective_path(retrospective, format: 'txt'), class: 'retrospective-list__item-button' do
        .fa.fa-download
      = link_to retrospective_path(retrospective), method: :delete, data: {confirm: 'are you sure?'}, class: 'retrospective-list__item-button' do
        .fa.fa-trash
