= content_for :active, 'retrospectives'

=link_to 'new', new_retrospective_path, class: 'btn btn-default'

%table.table.table-striped
  %thead
    %tr
      %th title
      %th
  %tbody
    - @retrospectives.each do |retrospective|
      %tr
        %td= link_to retrospective.title, retrospective_path(retrospective)
        %td
          = link_to 'edit', edit_retrospective_path(retrospective)
          = link_to 'destroy', retrospective_path(retrospective), method: :delete, data: {confirm: 'are you sure?'}
          = link_to 'export', export_retrospective_path(retrospective, format: 'txt')
