= content_for :active, 'retrospectives'

=link_to new_retrospective_path do
  .fa.fa-plus

%table
  %thead
    %tr
      %th title
      %th
  %tbody
    - @retrospectives.each do |retrospective|
      %tr
        %td= link_to retrospective.title, retrospective_path(retrospective)
        %td
          = link_to edit_retrospective_path(retrospective) do
            .fa.fa-edit

          = link_to retrospective_path(retrospective), method: :delete, data: {confirm: 'are you sure?'} do
            .fa.fa-trash

          = link_to export_retrospective_path(retrospective, format: 'txt') do
            .fa.fa-download
