= content_for :active, 'retrospectives'

.retrospective-list
  =link_to '+', new_retrospective_path, class: 'btn btn-primary'

  %table.table.table-sm
    %thead
      %tr
        %th= Retrospective.human_attribute_name(:title)
        %th
    %tbody
      - @retrospectives.each do |retrospective|
        %tr
          %td
            = link_to retrospective.title, retrospective_path(retrospective)
          %td
            = link_to t('views.retrospectives.edit'), edit_retrospective_path(retrospective)
            = link_to t('views.retrospectives.destory'), retrospective_path(retrospective), method: :delete, data: {confirm: t('views.retrospectives.are_you_sure') }
            = link_to t('views.retrospectives.export'), export_retrospective_path(retrospective, format: 'txt')
