= content_for :active, 'retrospectives'

.js-retrospective-ctrl{:'data-ng-controller' => 'RetrospectiveCtrl', :'data-url' => "#{request.host}:#{request.port}/websocket", :'data-id' => @retrospective.id, :'data-ng-init' => 'init()'}
  .page-header
    %h1= @retrospective.title

  .board.clearfix
    .left-board
      .labels-board.js-labels-board{:'data-typ' => 'keep'}
        .kpt-title
          %h4 Keep
        .label-animate{:'data-ng-repeat' => 'label in keepLabels'}
          %div{:'data-ng-include' => %Q('#{asset_path('label.html')}')}
      .labels-board.js-labels-board{:'data-typ' => 'problem'}
        .kpt-title
          %h4 Problem
        .label-animate{:'data-ng-repeat' => 'label in problemLabels'}
          %div{:'data-ng-include' => %Q('#{asset_path('label.html')}') }
    .right-board
      .labels-board.js-labels-board{:'data-typ' => 'try'}
        .kpt-title
          %h4 Try
        .label-animate{:'data-ng-repeat' => 'label in tryLabels'}
          %div{:'data-ng-include' => %Q('#{asset_path('label.html')}') }

  .user-list
    %form.form-inline
      .form-group
        %input.form-control{type: 'email', :'data-ng-model' => 'email', placeholder: 'email'}
      %button.btn.btn-default{type: 'button', :'data-ng-click' => 'addUser(email)'}
        %span.glyphicon.glyphicon-user
      %div{:'data-ng-repeat' => 'user in users'}
        %div {{user.name}}

.label-form.js-label-form
  %textarea{class: 'description', rows: 10, required: true}
