!!!
%html
  %head
    %title Kptboard
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body

  %nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    .container
      - if yield(:navigation_title).present?
        = link_to yield(:navigation_title), retrospective_path(@retrospective), class: 'navbar-brand'
      - else
        = link_to 'KPTBoard', root_path, class: 'navbar-brand'
      %ul.nav.navbar-nav
        %li.nav-item.active
        - if user_signed_in?
          %li.nav-item{class: yield(:active) == 'retrospectives' ? 'active' : ''}
            = link_to t('views.navigation.retrospectives'), retrospectives_path, class: 'nav-link'
          %li.nav-item.dropdown.pull-xs-right
            %a.dropdown-toggle.nav-link
              = current_user.name
            .dropdown-menu
              = link_to t('views.navigation.edit_account'), edit_user_registration_path, class: 'dropdown-item'
              = link_to t('views.navigation.sign_out'), destroy_user_session_path, class: 'dropdown-item js-sign-out'

  .Container= yield
