!!!
%html{:'data-ng-app' => 'KPTBoard'}
  %head
    %title Kptboard
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navigation
      .navigation__content
        .navigation__item= yield(:navigation_title).present? ? yield(:navigation_title) : 'KPTBoard'
        - if user_signed_in?
          = link_to retrospectives_path, class: 'navigation__item' do
            .fa.fa-folder
          = link_to destroy_user_session_path, class: 'navigation__item navigation__item--sign-out', method: :delete do
            .fa.fa-sign-out

    .container= yield
