!!!
%html
  %head
    %title Kptboard
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body

  %nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    .container
      %span.navbar-brand= yield(:navigation_title).present? ? yield(:navigation_title) : 'KPTBoard'
      %ul.nav.navbar-nav
        %li.nav-item.active
        - if user_signed_in?
          %li.nav-item
            = link_to retrospectives_path, class: 'nav-link' do
              .fa.fa-folder
          %li.nav-item
            = link_to destroy_user_session_path, class: 'nav-link js-sign-out', method: :delete do
              .fa.fa-sign-out

  .container= yield
