- content_for :active, 'sign_up'

.page-header
  %h2 Sign up

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  .form-group.row
    %label.col-sm-2.form-control-label Email
    .col-sm-10
      = f.email_field :email, class: 'form-control form-control-sm', autofocus: true, placeholder: 'Email'

  .form-group.row
    %label.col-sm-2.form-control-label Name
    .col-sm-10
      = f.text_field :name, class: 'form-control form-control-sm', placeholder: 'Name'

  .form-group.row
    %label.col-sm-2.form-control-label Password
    .col-sm-10
      = f.password_field :password, class: 'form-control form-control-sm', placeholder: 'Password'

  .form-group.row
    %label.col-sm-2.form-control-label Password Confirmation
    .col-sm-10
      = f.password_field :password_confirmation, class: 'form-control form-control-sm', placeholder: 'Password Confirmation'

  .form-group.row
    .col-sm-offset-2.col-sm-10
      = f.submit 'Sign up', class: 'btn btn-primary js-sign-up'

= render "users/shared/links"
