- content_for :active, 'sign_up'

%h2 Sign up

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal', role: 'form'}) do |f|
  = devise_error_messages!

  .retrospective-form__form-inline
    %label.retrospective-form__label Email
    = f.email_field :email, class: 'retrospective-form__input', autofocus: true, placeholder: 'Email'

  .retrospective-form__form-inline
    %label.retrospective-form__label Name
    = f.text_field :name, class: 'retrospective-form__input', placeholder: 'Name'

  .retrospective-form__form-inline
    %label.retrospective-form__label Password
    = f.password_field :password, class: 'retrospective-form__input', placeholder: 'Password'

  .retrospective-form__form-inline
    %label.retrospective-form__label Password Confirmation
    = f.password_field :password_confirmation, class: 'retrospective-form__input', placeholder: 'Password Confirmation'

  .retrospective-form__form-inline
    = f.submit 'Sign up', class: 'retrospective-form__button'

= render "users/shared/links"
